.header {

	position: sticky;
	z-index: 100;
	top: 0;
	background: transparent;
	transition: background-color .3s ease;

	&--scrolled {
		background: whitesmoke;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

	}


	>.container {
		padding: 1.2rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__logo {
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		color: $color-text;
	}

	&__menu {
		>ul {
			display: flex;
			align-items: center;
			gap: 1rem;
			list-style-type: none;

			>li {
				list-style-type: none;
			}

			>li>a {
				font-weight: 500;
				color: $color-muted;
				transition: color 0.3s ease;
				text-decoration: none;

				&:hover {
					color: $color-text;
				}
			}
		}
	}
}