@import 'variables';

html {
	font-size: 18px;

	@media (max-width: 1920px) {
		font-style: 16px;
	}
}

body {
	background-color: $color-bg;
	color: $color-text;

	font-family: $font-family;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.03em;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	max-width: 2560px;
	margin: 0 auto;
	line-height: 1,5;
}

button {
	cursor: pointer;
	background: none;
	border: 0;
}

.container {
	max-width: 1650px;
	width: 100%;
	margin: 0 auto;
}

.non-select-image {
	pointer-events: none;
	user-select: none;
	text-decoration: none;
	will-change: transform;
	backface-visibility: hidden;
	transform: translateZ(0);
}


.will-change-transform,
.fade-in,
.container,
.right-fade-in
{
	will-change: transform;
}

#smmoth-content{
	will-change: transform; 
}

@import 'ui';
@import 'header';
@import 'welcome';
@import 'mission';
@import 'section_ui';
@import 'loyalty';
@import 'costs';
@import 'apply';
@import 'faq';
@import 'modal';