@import 'variables';

html {
	font-size: 18px;
}

body {
	font-family: $font-family;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: 400;

	background-color: $color-bg;
	color: $color-muted;
}

@mixin button-style($bg-color: $color-accent-light) {
	background-color: $bg-color;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

@import 'header';
@import 'ui';
@import 'welcome';
